services:
  hexagonal-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: guia_hexagonal_dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
